html {
  /* background: #860d0d; background um pouco mais claro */
  background: #860d0d;
}

body {
  font-family: 'Philosopher', sans-serif;
  line-height: 1.6;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity 15s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}